* {
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-weight: bold;
}

body {
    margin: 0;
    box-sizing: border-box;
}

header {
    height: 100px;
    background-color: #4169e1;
    color: whitesmoke;
    display: flex;
    justify-content: center; 
    align-items: center;
}

.carousel {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
    height: 600px;
    width: 100%;
    box-sizing: border-box;
    padding: 10px;
}

.card {
    max-width: 400px;
    max-height: 270px;
    width: 100%;
    height: 100%;
    /* border: 1px solid #4169e1; */
    border-radius: 15px;
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    transition: all 1s linear;
    /* box-shadow: 1px 1px 3px #4169e154,
    -3px -3px 4px #4169e154; */
}
.card p {
    color: #4169e1;
    font-size: xx-large;
}

button {
    width: 100px;
    height: 100px;
    border: 0;
    background-position: center;
    background-size: contain;
    background-color: inherit;
    background-repeat: no-repeat;
    background-position-x: center;
    background-position-y: center;

}
.btn1 {
    background-image: url(images/arrow-circle-left-svgrepo-com.svg);
}
.btn2 {
    background-image: url(images/arrow-circle-right-svgrepo-com.svg);
}


@media screen and (min-width: 360px) and (max-width: 770px) {
.carousel {
    height: 400px;
    display: grid;
    grid-template-columns: repeat(2, auto);
    grid-template-rows: repeat(2, auto);
    justify-content: center;
    align-content: space-around;
    gap: 15px;
    padding: 50px 0;
}
.carousel>div:nth-child(2){
    grid-column-start: 1;
    grid-column-end: 3;
    grid-row-start: 1;
}
.card {
    /* margin-bottom: 50%; */
    height: 150%;
    width: 200%;
    justify-self: center;
}
.btn1, .btn2 {
    width: 70px;
    height: 70px;
}
}
@media screen and (max-width: 360px){
    .carousel {
        height: 300px;
        display: grid;
        grid-template-columns: repeat(2, auto);
        grid-template-rows: repeat(2, auto);
        justify-content: center;
        align-content: center;
        gap: 15px;
        padding: 20px 0;
    }
    .carousel>div:nth-child(2){
        grid-column-start: 1;
        grid-column-end: 3;
        grid-row-start: 1;
    }
    .card {
        height: 100%;
        width: 100%;
    }
    .btn1, .btn2 {
        width: 70px;
        height: 70px;
    }
}
